ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  padding-bottom: 30px;
}

ion-button {
  visibility: hidden;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.detail-button {
  display: none;
}

ion-icon {
  font-size: 16px;
}

.medium {
  color: var(--ion-color-medium);
}

.primary {
  color: var(--ion-color-primary);
  visibility: visible;
}

ion-card {
  border-radius: 10px;
  // box-sizing: content-box;
  &:hover {
    outline: 2px solid var(--ion-color-light);
  }

  &:hover ion-button {
    visibility: visible;
  }

  ion-card-subtitle {
    font-size: 16px;
    font-weight: bold;
  }

  ion-card-content {
    color: var(--ion-color-dark);
    font-size: 18px;
  }

  .top-button {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;

    .copy-msg {
      position: relative;
      top: 7px;
      visibility: hidden;
    }
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    .tag-wrapper {
      display: inline-flex;
      position: relative;
      .tag {
        height: 100%;
        ion-label {
          font-size: 12px;
        }
      }
      .tag-close {
        cursor: pointer;
        display: none;
        position: absolute;
        top: -6px;
        right: 0px;
      }
      &:hover .tag-close {
        display: block;
      }
    }
  }
}

ion-checkbox {
  --border-radius: 4px;
}

.taglist-label {
  font-size: 14px;
}

ion-fab {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.task {
  margin-bottom: 120px;
}

@media screen and (min-width: 520px) {
  .detail-button {
    display: block;
    float: right;
  }
  ion-icon {
    font-size: 20px;
  }
  #container {
    margin: 3px;

    .task {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .task-list {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #container {
    margin: 10px;

    .task {
      .task-list {
        width: calc(100% / 3);
      }
    }
  }
}
