<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong class="capitalize">{{ folder }}</strong> -->
    <!-- <p>
      Explore
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
      >
        UI Components
      </a>
    </p> -->
    <div class="task">
      <div class="task-list" *ngFor="let task of getData.taskList; let i = index">
        <ion-card class="ion-margin card">
          <ion-card-header [translucent]="true">
            <ion-card-subtitle>{{ task.label }}</ion-card-subtitle>
            <!-- <ion-card-title>{{ task.deadline }}</ion-card-title> -->
          </ion-card-header>

          <ion-card-content> {{ task.text }} </ion-card-content>

          <ion-button class="ion-float-right ion-margin-end" fill="clear" shape="round" size="small">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </ion-button>
          <ion-button class="ion-float-right ion-margin-end" fill="clear" shape="round" size="small" (click)="showEditor(task)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          <div class="copy">
            <ion-note class="copy-msg">Copied!</ion-note>
            <ion-button class="copy-button" fill="clear" shape="round" size="small" (click)="getCopy(i)">
              <ion-icon class="copy-icon" name="copy-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </div>
    </div>

    <ion-fab slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
