ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  padding-bottom: 30px;
}

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

ion-icon {
  font-size: 24px;
}

ion-card {
  border-radius: 10px;
  ion-card-subtitle {
    font-size: 18px;
    font-weight: bold;
  }
  ion-card-content {
    font-size: 20px;
  }
  .copy {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    .copy-msg {
      position: relative;
      top: 7px;
      visibility: hidden;
    }
    .copy-button {
      --color: --ion-color-dark;
      visibility: hidden;
    }
  }

  .copy:hover .copy-button {
    visibility: visible;
  }

  // .copy:active .copy-msg {
  //   visibility: visible;
  // }
}

ion-fab {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.task {
  margin-bottom: 120px;
}

@media screen and (min-width: 520px) {
  #container {
    margin: 3px;

    .task {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .task-list {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #container {
    margin: 10px;

    .task {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .task-list {
        width: calc(100% / 3);
      }
    }
  }
}
