ion-menu-button {
  color: var(--ion-color-primary);
}

ion-content {
  padding-bottom: 30px;
}

ion-button {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

ion-icon {
  font-size: 24px;
}

.medium {
  color: var(--ion-color-medium);
}

.primary {
  color: var(--ion-color-primary);
}

ion-card {
  border-radius: 10px;
  box-sizing: content-box;
  &:hover {
    outline: 2px solid var(--ion-color-light);
  }

  ion-card-subtitle {
    font-size: 16px;
    font-weight: bold;
  }

  ion-card-content {
    color: var(--ion-color-dark);
    font-size: 18px;
  }

  .copy {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;

    .copy-msg {
      position: relative;
      top: 7px;
      visibility: hidden;
    }

    .copy-button {
      visibility: hidden;
    }

    &:hover .copy-button {
      visibility: visible;
    }
  }
}

ion-fab {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.task {
  margin-bottom: 120px;
}

@media screen and (min-width: 520px) {
  ion-icon {
    font-size: 20px;
  }
  #container {
    margin: 3px;

    .task {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .task-list {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  #container {
    margin: 10px;

    .task {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .task-list {
        width: calc(100% / 3);
      }
    }
  }
}
